

body {
  margin: 0 auto;
  font-family: sans-serif, arial;
}
.listing {
  background-color: #D3F1F0;
  text-align: center;
  border: 25px solid lightblue;
}
#pagin {
    clear: both;
    padding:0;
    width:250px;
    margin:0 auto;
}
#pagin li {
    float:left;
    margin-right:10px;
}
input {
  width: 50%;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
}
h1 {
  vertical-align: middle;
  line-height: 100px;
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
  background-color: lightblue;
  text-align: center;
  width: 900px;
  height: 120px;
  margin:0 auto;
}
img {
  margin:auto;
  width:900px;
  height:320px;
  display:block;
  margin:0 auto;
}

#forSaleImage {
     background-image: url(images/forSale.png);
     position:absolute;
     width: 100px;
     height: 100px;
     opacity: 0.1;
     background-size: 100% auto;

  }
  #forRentImage {
       background-image: url(images/forRent.png);
       position:absolute;
       width: 100px;
       height: 100px;
       opacity: 0.1;
       background-size: 100% auto;

    }
    .inputSection{
      width: 900px;
      margin:0 auto;

    }
/*nav bar*/
.topnav {
  width: 900px;
  margin:0 auto;
  overflow: hidden;
  background-color: #D8D8D8;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #D8D8D8;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
